In [16]:
import pandas as pd
import numpy as np

In [17]:
df1 = pd.DataFrame({'A': ['A0', 'A1'],
                        'B': ['B0', 'B1']})
df2 = pd.DataFrame({'A': ['A4', 'A5'],
                        'B': ['B4', 'B5']})

In [18]:
result = pd.concat([df1, df2])
result

    A   B
0  A0  B0
1  A1  B1
0  A4  B4
1  A5  B5